flask
flask-cors
python-dotenv
werkzeug
PyMuPDF
requests
beautifulsoup4
backoff
duckduckgo-search
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
docx2txt
python-docx
gunicorn
